{% extends 'blog/base.html' %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <br>
      <br>


      <!-- Intro Content -->
      <div class="row">

        <div class="col-lg-25">
          <h2>About DAIA</h2>
          <p>DAIA(동국대학교 인공지능 학생협회)는 인공지능과 관련하여 스터디, 세미나, 토론, 연구등을 진행하기 위한 교내 학회입니다.</p>
          <p>2018년 1월 설립되었고, 한 학기를 기준으로 기수별로 운영되며, 컴퓨터공학, 전자전기공학, 수학 등 다양한 전공의 학생들로 구성되어있습니다.</p>
          <p>저희 학회는 시각처리, 자연어처리, 음성신호 처리등 다양한 도메인에 대한 기존, 최신의 딥러닝 기법들을 공부하며, </p>
          <p>학회 활동에 관심있는 분은 Recruit 페이지를 통해서 지원해주시기 바랍니다.</p>
        </div>
      </div>
      <!-- /.row -->

      <br>
      <br>

    </div>
    <!-- /.container -->
{% endblock %}
