{% extends 'blog/base.html' %}

{% block content %}
<div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">New album post </h1>

 <form
    method="POST"
    enctype="multipart/form-data"
>
{% csrf_token %}
{{ form.as_p }}
{{ formset.management_form }}
{% for f in formset %}
     {{ f.as_p }}
{% endfor %}
     <br>
     <h10> 첨부파일 이름을 영어로 바꾼후 업로드해주세요.</h10>
     <br>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}