{% extends 'blog/base.html' %}

{% block content %}


<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <h1 class="col mt-4 mb-3">Notice
    </h1>

    <div class="col mt-4 mb-4 input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
    </div>
  </div>

         {% if check %}
        <a href="{% url 'notice_new' %}"> <p> 글쓰기 </p> </a>
        {% endif %}

  <div class="row">
    {% for post in posts %}

    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <div class="thumbnail-wrapper">
          <div class="thumbnail">
            {% if post.image %}
            <a href="{% url 'notice_detail' pk=post.pk %}"><img class="card-img-top" src="{{ post.image.url }}"></a>
            {% else %}
            <a href="{% url 'notice_detail' pk=post.pk %}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            {% endif %}
          </div>
        </div>

        <div class="card-body">
          <h4 class="card-title">
            <a href="{% url 'notice_detail' pk=post.pk %}"> {{ post.title }} </a>

          </h4>
          <p>{{post.origin_date}}에 게시</p>
          <p>작성자 : {{post.writer_name}}</p>
          <p class="card-text">
            {% if post.content|length > 65%}
            {{ post.content|slice:"0:65"|add:"  ..."}}
            {% else %}
            {{ post.content }}
            {% endif %}
          </p>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>

  {% if posts.has_other_pages %}
  <!-- Pagination -->
  <ul class="pagination justify-content-center">

    {% if posts.has_previous %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}

    {% for i in posts.paginator.page_range %}
    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
    {% endfor %}

    {% if posts.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ max_index }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}

</div>
{% endblock %}