{% extends 'blog/base.html' %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Recruit
      </h1>

      <!-- Content Row -->
       <div class="row">
        <div class="col-lg-2">
        </div><div class="col-lg-8" id="recruit_style">
        <p style="padding:5px"></p>
          <dt style="font-size:20px">입회 문의는 기장 전용진 혹은 부기장 강수현에게 연락주세요.</dt>
        <p>

        </p>
        <dl>
  <dt>컴퓨터공학과 전용진</dt>
  <dd>mobile : 01036283173</dd>
          <dd>email : yongjin117@naver.com</dd>
          <p style="padding:5px"></p>
  <dt>수학과 강수현 </dt>
  <dd>mobile : 01037920040</dd>
          <dd>email : shqk212@naver.com</dd>
</dl>
        <dt style="font-size: 20px">3기 모집은 12월에 진행됩니다.</dt>
        <p style="padding:5px"></p>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
      <br>

      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}